[submodule "my_plugins/YouCompleteMe"]
	path = my_plugins/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "my_plugins/vim-commentary"]
	path = my_plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
